
.main {
    margin-left: 6rem;
    padding: 1rem;
}

.navbar {
    width: 6rem;
    height: 100vh;
    position: fixed;
    background-color: var(--bg-primary);
}

.navbarList {

}

.navbarItem {

}

.navLink {

}

.linkText {
    
}