.modeContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

.modeLeft {
    border-width: 1px 0px 1px 1px;
    border-left-color: rgba(5, 24, 61, 0.1);
    border-top-color: rgba(5, 24, 61, 0.1);
    border-bottom-color: rgba(5, 24, 61, 0.1);
    border-right-color: initial;
    border-style: inset;
    border-radius: 4px 0px 0px 4px;
    padding: 6.4px 12.8px;
    
    cursor: pointer;
    
}

.selected {
    background: rgb(187, 219, 252);
    color: var(--coin-color);
}

.unSelected {
    color: #98a1b2;
    background-color: #ffffff;
}

.modeRight {
    border: 1px inset rgba(5, 24, 61, 0.1);
    border-radius: 0px 4px 4px 0px;
    padding: 6.4px 12.8px;
   
    cursor: pointer;
}

