.grid {
    
    display: grid;
    justify-content: center;
    margin-top: 1.3rem;
    grid-template-columns: 700px 700px;
    grid-template-rows: auto auto;
  }
  
.contentHeader {
   display: flex;
   justify-content: center;
   align-items: flex-start;
   color: #677185;
    font-size: 14px;
    padding: 0 0 12px 0;
}

.txnHeader {
    padding-bottom: 10px !important;
}

  
.sectionsWrapper {
    display: flex;
    flex-direction: column;
}



  
  @media only screen and (max-width: 1355px) {
      .grid {
          justify-content: center;
          grid-template-columns: auto !important;
          grid-template-rows: auto auto auto auto !important;
      }
  }
  
  @media only screen and (max-width: 1455px) {
      .grid {
          grid-template-columns: 650px 650px;
          grid-template-rows: auto auto ; 
      }
  }
  