.wrapper {
    width: 100%;
    padding-top: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headerWrapper {
    display: flex;
    justify-content: center;
    padding-bottom: 28px;
}

.header {
    font-weight: bold;
    font-size: 25px;
}

.transactionsContainer {
    width: 75%;
    display: flex;
    flex-direction: column;
}

.trxnHeaderWrapper {
    width: 75%;
}