.topContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.qrCodeContainer {
    border: 1px solid var(--border-color);
}

.qrCode {
    padding: 28px 35px;

}

.walletDataContainer {
    width: 50%;
    margin-left: 50px;
}

.dataSectionContainer {
    width: 100%;
    display: flex;
    align-items: row;
    border-bottom: 1px solid rgb(223, 227, 235);
    justify-content: flex-start;
    align-items: flex-start;
}

.dataSection {
    width: 50%;
    padding: 14px 0px;
    margin: 2px 0px;
}

.name {
    color: #677185;
}

.format {
    color: var(--coin-color);
    background: rgb(187, 219, 252);
    padding: 8px 16px;
    font-family: Inter;
    border-radius: 0.25rem;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
}

.balanceWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 12px;
}

.balanceContainer {
    display: flex;
    margin-left: 130px;
    height: 55px;
    width: 54.6%;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}

.infoTitle {
    font-weight: bold;
    font-size: 25px;
}

.infoContent {
    font-size: 20px;
    padding-left: 13px;
}

